<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <p><br>
    </p>
    <!-- BARRE DE NAVIGATION -->
    <nav>
      <div class="nav-wrapper blue lighten-2"> <a href="#" class="brand-logo center">PiZZima</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="#"> </a><br>
          </li>
          <li><a href="menu.html"><i class="large material-icons">menu</i></a> </li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="panier.html"><i class="large material-icons">shopping_cart</i></a></li>
          <li><a href="#"> </a><br>
          </li>
        </ul>
      </div>
    </nav>
    <br>
    <br>
    <!-- UNE LIGNE DE PIZZAS -->
    <div class="row">
      <div class="col s3 m3">
        <div class="card">
          <div class="card-image"> <img src="https://commande.dominos.fr/ManagedAssets/FR/product/PCBB/FR_PCBB_fr_menu_2760.jpg?v1623384541">
            <a class="btn-floating halfway-fab waves-effect waves-light red"> <i

                class="large material-icons">add</i></a> </div>
          <div class="card-content"><span class="card-title"><b>Chick'n Bacon
                BBQ</b></span>
            <p>Sauce barbecue, mozzarella, bacon, poulet rôti, oignons, tomates
              fraîches, oignons croustillants.</p>
          </div>
        </div>
      </div>
      <div class="col s3 m3">
        <div class="card">
          <div class="card-image"> <img src="https://commande.dominos.fr/ManagedAssets/FR/product/PCBB/FR_PCBB_fr_menu_2760.jpg?v1623384541">
            <a class="btn-floating halfway-fab waves-effect waves-light red"> <i

                class="large material-icons">add</i></a> </div>
          <div class="card-content"> <span class="card-title"><b>Chick'n Bacon
                BBQ</b></span>
            <p>Sauce barbecue, mozzarella, bacon, poulet rôti, oignons, tomates
              fraîches, oignons croustillants.</p>
          </div>
        </div>
      </div>
      <div class="col s3 m3">
        <div class="card">
          <div class="card-image"> <img src="https://commande.dominos.fr/ManagedAssets/FR/product/PCBB/FR_PCBB_fr_menu_2760.jpg?v1623384541">
            <a class="btn-floating halfway-fab waves-effect waves-light red"> <i

                class="large material-icons">add</i></a> </div>
          <div class="card-content"><span class="card-title"><b>Chick'n Bacon
                BBQ</b></span>
            <p>Sauce barbecue, mozzarella, bacon, poulet rôti, oignons, tomates
              fraîches, oignons croustillants.</p>
          </div>
        </div>
      </div>
      <div class="col s3 m3">
        <div class="card">
          <div class="card-image"> <img src="https://commande.dominos.fr/ManagedAssets/FR/product/PCBB/FR_PCBB_fr_menu_2760.jpg?v1623384541">
            <a class="btn-floating halfway-fab waves-effect waves-light red"> <i

                class="large material-icons">add</i></a> </div>
          <div class="card-content"><span class="card-title"><b>Chick'n Bacon
                BBQ</b></span>
            <p>Sauce barbecue, mozzarella, bacon, poulet rôti, oignons, tomates
              fraîches, oignons croustillants.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- FIN DE LIGNE DE PIZZAS -->
    <!-- UNE 2ND LIGNE DE PIZZAS -->
    <div class="row">
      <div class="col s3 m3">
        <div class="card">
          <div class="card-image"> <img src="https://commande.dominos.fr/ManagedAssets/FR/product/PCBB/FR_PCBB_fr_menu_2760.jpg?v1623384541">
            <a class="btn-floating halfway-fab waves-effect waves-light red"> <i

                class="large material-icons">add</i></a> </div>
          <div class="card-content"><span class="card-title"><b>Chick'n Bacon
                BBQ</b></span>
            <p>Sauce barbecue, mozzarella, bacon, poulet rôti, oignons, tomates
              fraîches, oignons croustillants.</p>
          </div>
        </div>
      </div>
      <div class="col s3 m3">
        <div class="card">
          <div class="card-image"> <img src="https://commande.dominos.fr/ManagedAssets/FR/product/PCBB/FR_PCBB_fr_menu_2760.jpg?v1623384541">
            <a class="btn-floating halfway-fab waves-effect waves-light red"> <i

                class="large material-icons">add</i></a> </div>
          <div class="card-content"> <span class="card-title"><b>Chick'n Bacon
                BBQ</b></span>
            <p>Sauce barbecue, mozzarella, bacon, poulet rôti, oignons, tomates
              fraîches, oignons croustillants.</p>
          </div>
        </div>
      </div>
      <div class="col s3 m3">
        <div class="card">
          <div class="card-image"> <img src="https://commande.dominos.fr/ManagedAssets/FR/product/PCBB/FR_PCBB_fr_menu_2760.jpg?v1623384541">
            <a class="btn-floating halfway-fab waves-effect waves-light red"> <i

                class="large material-icons">add</i></a> </div>
          <div class="card-content"><span class="card-title"><b>Chick'n Bacon
                BBQ</b></span>
            <p>Sauce barbecue, mozzarella, bacon, poulet rôti, oignons, tomates
              fraîches, oignons croustillants.</p>
          </div>
        </div>
      </div>
      <div class="col s3 m3">
        <div class="card">
          <div class="card-image"> <img src="https://commande.dominos.fr/ManagedAssets/FR/product/PCBB/FR_PCBB_fr_menu_2760.jpg?v1623384541">
            <a class="btn-floating halfway-fab waves-effect waves-light red"> <i

                class="large material-icons">add</i></a> </div>
          <div class="card-content"><span class="card-title"><b>Chick'n Bacon
                BBQ</b></span>
            <p>Sauce barbecue, mozzarella, bacon, poulet rôti, oignons, tomates
              fraîches, oignons croustillants.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- FIN DE LA 2ND LIGNE DE PIZZAS -->
  </body>
</html>
