<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Pizzima</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Dependencies -->
        <link rel="stylesheet" type="text/css" href="../node_modules/materialize-css/dist/css/materialize.min.css" />
        <link href="/static/styles/main.css" rel="stylesheet">
        <script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
</html>